html  
    head
        title #{title}
        style
            include ../style/style.css
        script(src="/lib/pixi-v4.5.1.js")
        script(src="/lib/socketIo-2.0.4.js")
    body
        header
            p Pixelio
            
        section
            p #{name}'s Pug source code! hey hey 
            
        footer
            cool footer with lots of copyrights
            script(src="/lib/pageProcess.js")